

page-about {
  background-color:#333333;
}

#pulseIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutContent {
  top: 16px;
}



#navybary{
    background-color: #333333;
    padding-top:15px;
}
#PulseTitle{
  text-align:center;
  font-size: 30px;
}



#titleLine{
  border-top:1px solid black;
  height: 2px;
  width:85%;
  margin:0 auto;
  text-align:center;
}
#definition{
  text-align:center;
  margin:0 auto;
}


#devs {
  border-radius: 50%;
}

#backDevs {
  border-radius: 50%;
}

.aboutText {

}

.link {
  width:100%;
}

.bio{
  margin:0 auto;
  text-align:center;
}
.devPicture{
  // height:200px;
  // width:200px;
  border-radius: 50%;
}
.stack {
  width: 220px;
  margin: 10px;
}
.stackPart {
  text-align: center;
  margin: 0 auto;
}

.description{
  text-align: center;
}


#titles {
  text-align: center;
  font-family: 'Voltaire', sans-serif;
}


#developerBios{
  background-color:#424242;
  color:white;
}
#philosophy{
  text-align:center;
}
#aboutVideo{
  max-width: 100%;
  text-align:center;
  margin:0 auto;
}

#videoReview{
  background-color:purple;
  color:white;
  text-align:center;
  margin: 0 auto;
  height: 400px;
  padding: 0 px;
  font-size: 20px;
  padding-top:100px;
}



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

@media(min-width: 426px) {
  .flip-container, .front, .back {
  left: 80px;
	width: 460px;
	height: 460px;
}
  .vertical.flip-container .flipper {
	transform-origin: 100% 230px; /* half of height */
}
.stackExpress {
  width: 220px;
  padding-top: 25%;
}
#bios {
  text-align: center;
  margin-top: 40%;
  color: orange;
  font-size: 24px;
}
.links {
  length: 100px;
  width: 100px;
}
#companyLogo{
  margin-top:30px;
  margin:0 auto;
  height:500px;
  width:750px;
  text-align:center;
}
.WiP {
  font-size: 32px;
}
.large {
  font-size: 72px;
}
}

@media(max-width: 425px) {
.flip-container, .front, .back {
	width: 120px;
	height: 120px;
}
.vertical.flip-container .flipper {
	transform-origin: 100% 60px; /* half of height */
}
.stackExpress {
  width: 220px;
  padding-top: 45%;
}
#bios {
  text-align: center;
  margin-top: 25%;
  color: orange;
  font-size: 9px;
}
.links {
  height: 50px;
  width: 50px;
}
#companyLogo{
  margin-top:30px;
  margin:0 auto;
  height:250px;
  width:375px;
  text-align:center;
}
.WiP {
  font-size: 16px;
}
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
		transform: rotateX(180deg);
}


.vertical.flip-container:hover .flipper {
		transform: rotateX(-180deg);
}
