page-about {
  background-color:#333333;
}
#navybary{
    background-color: #333333;
}
#PulseTitle{
  text-align:center;
  font-size: 30px;
}

#titleLine{
  border-top:1px solid black;
  height: 2px;
  width:85%;
  margin:0 auto;
  text-align:center;
}
#definition{
  text-align:center;
  margin:0 auto;
}


#philosophy{
  text-align:center;
}
#aboutVideo{
  text-align:center;
  margin:0 auto;
}

#videoReview{
  background-color:purple;
  color:white;
  text-align:center;
  margin: 0 auto;
  height: 400px;
  padding: 0 px;
  font-size: 20px;
  padding-top:100px;
}

