page-about {
  background-color:#333333;
}
#navybary{
    background-color: #333333;
    padding-top:15px;
}
#PulseTitle{
  text-align:center;
  font-size: 30px;
}

#titleLine{
  border-top:1px solid black;
  height: 2px;
  width:85%;
  margin:0 auto;
  text-align:center;
}
#definition{
  text-align:center;
  margin:0 auto;
}
#companyLogo{
  margin-top:30px;
  margin:0 auto;
  height:250px;
  width:375px;
  text-align:center;
}

.bio{
  margin:0 auto;
  text-align:center;
}
.devPicture{
  // height:200px;
  // width:200px;
  border-radius: 50%;
}
#developerBios{
  background-color:#424242;
  color:white;
}
#philosophy{
  text-align:center;
}
#aboutVideo{
  max-width: 100%;
  text-align:center;
  margin:0 auto;
}

#videoReview{
  background-color:purple;
  color:white;
  text-align:center;
  margin: 0 auto;
  height: 400px;
  padding: 0 px;
  font-size: 20px;
  padding-top:100px;
}

