.ios, .md {
 
    home-page {
 
      .scroll-content {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
      
      ion-fab[bottom] {
          bottom: 40px;
      }
      ion-fab[right] {
          right: 50px;
      }
    }
    home-page #infoWindow{
      background-color:white;
      height:250px;
      width:300px;
      position:relative;
    }
    // #infoWindow{
    //   background-color:#333333;
    // }
    home-page .infoWindowTitle{
      width:100%;
      background-color:#333333;
    }
    #infoWindowBody{
      text-align:center;
      padding-top:20%;
    }
    // element.style {
      
    // }

  .gm-style #infoWindow{
    font-size: 30px;
  }
  
}