#beaconNavbar{
    margin-top:56px;
    color: cyan;
    background-color: white;
    top:0;
    position:fixed;
    z-index: 1000;
}
#beaconNavbar2{
    margin-top:64px;
    color: cyan;
    background-color: white;
    top:0;
    position:fixed;
    z-index: 1000;
}



.tabBody{
    margin-top:60px;
}

#beaconInfoCard{
    background-color:salmon;
    height:325px;
    font-weight:bold;
    padding: 13px 0px 13px 0px;    
}
#beaconCardBody{
    bottom:-100px;

}
#beaconCardTitle{
    position:relative;
    left:20px;
}
#rsvpButton{
    margin:0 auto;
    text-align:center;
}


#messageBreak{
    color:black;
}












.segment-md .segment-button{
    background-color:white;
}

#rsvpList{
    margin-top:50px;
    overflow:none;
}


