#beaconNavbar{
    margin-top:56px;
    color: cyan;
    background-color: white;
    top:0;
    position:fixed;
    z-index: 1000;
}
#beaconNavbar2{
    margin-top:64px;
    color: cyan;
    background-color: white;
    top:0;
    position:fixed;
    z-index: 1000;
}



.tabBody{
    margin-top:60px;
}

.segment-md .segment-button{
    background-color:white;
}

#rsvpList{
    margin-top:50px;
    overflow:none;
}


