.card-md, #chatMessage {
    background-color:#e2e2e2;
}

.speech {
  position: relative;
  width: 100%;
  height: 110px;
  overflow: none;
  line-height: 100px;
  background-color: #666;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 18px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

.insideSpeech {
  padding-bottom:20px;
  color:white;
  height: 90%;
}

.speech:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 70px;
  border: 25px solid;
  border-color: #666 transparent transparent #666;
}

.chatText {
    font-size: 17px;
    text-align: center;
    padding: 2px;
    bottom: 0px;
}

.chatAuthor {
    padding: 0px;
    font-size: 10px;
}

.chatDate {
    font-size: 10px;
}



#down{
    top:20px;
}
#beaconHeader{
    background-color:#333333;
}


#beaconNavbar{
    color: cyan;
    background-color: white;
    top:0;
    position:fixed;
}


#messageBuild{
    bottom: 0;
    position:fixed;
    background-color:white;
    width:100%;
    z-index: 1000;
}
#messageList{
    padding-bottom:100px;
    padding: 23px;
}
// #messageDate{
//     position:right;
// }
#messageBody{
    font-size:16px;
}
#messageAuthor{
    font-size:12px;
}
 
.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}

